h1 {
	font-family: cursive;
	color: blue;
	text-align: center;
}

.jumbotron {
	background-color: #2E2D88;
	color: white;
}

/* add borders for tabs */
.tab-content {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}