body {
	background-color: grey;
	background-image: url('back.jpg');

}

h1 {
	font-family: cursive;
	color: blue;
	text-align: center;
}

.jumbotron {
	background-color: #2E2D88;
	color: white;
}

/* add borders for tabs */
.tab-content {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}

p {
	background-color: grey;
	color: white;
	font-family: cursive;
	font-style: italic;
}
h4 {
	text-align: center;
	background-color: black;
	background-image: url('back.jpg');
}